
<%= current_user.name%>
<%= current_user.email%>
<%= current_user.address%>
<%= current_user.city%>
<%= current_user.state%>
<%= current_user.zip%>

<div class="user-links">
<%= link_to "Edit Profile", user_edit_path %>
<% unless current_user.orders.empty? %>
<%= link_to "My Orders", profile_orders_path %>
<% end %>
</div>
