
  <% @merchants.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>">
    <h1>Name:<a href="<%= admin_merchant_path(merchant.id) %>"><%= merchant.name %></a></h1>
    <p>State: <%= merchant.state %></p>
    <p>City: <%= merchant.city %></p>
    <p>Active: <%= merchant.active %></p>
    <% if merchant.active == true %>
      <p><%= button_to "Disable Merchant", admin_update_merchant_path(merchant.id), method: :update %></p>
    <% elsif merchant.active == false %>
      <p><%= button_to "Enable Merchant", admin_update_merchant_path(merchant.id), method: :update %></p>
    <% end %>
    </div>
  <% end %>
