<div>
  <% @merchants.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>">
    <% if current_admin? %>
    <p>Name: <%= link_to merchant.name, admin_merchant_path(merchant) %> </p>
    <% else %>
    <p>Name: <%= merchant.name %></p>
    <% end %>
    <p>State: <%=merchant.state %></p>
    <p>City: <%= merchant.city %></p>
    <p>Registered: <%=merchant.date_registered%></p>
    <div>
  <% end %>
</div>
