<div>
  <%= current_user.name%>
  <%= current_user.email%>
  <%= current_user.address%>
  <%= current_user.city%>
  <%= current_user.state%>
  <%= current_user.zip%>
</div>
<div id="order-info">
  <%current_user.pending_orders.each do |order| %>

    <%=link_to order.id, merchant_orders_path(order)%>
    <p><%= order.created_at.strftime("%B %d, %Y")%></p>
    <p><%= order.item_quantity%></p>
    <p><%= order.items_total_value.to_f%>
  <%end%>

</div>
