<h1><%= @merchant.name %> Items</h1>

<div class="links">
  <%= link_to "Add an Item", new_merchant_item_path %>
</div>

<% @merchant.items.each do |item| %>
<div id="item-<%= item.id %>">
  <p><%= item.id %></p>
  <p><%= item.name %></p>
  <p><%= item.description %></p>
  <p><img src="<%= item.image %>"></p>
  <p><%= item.price %></p>
  <p><%= item.inventory %></p>
  <p><%= button_to "Edit Item" %></p>
  <% if item.order_items.empty? %>
  <%= button_to "Delete Item", merchant_item_path(item), method: :delete %>
  <% end %>
  <% if item.active == true %>
  <%= button_to "Disable Item", merchant_item_path(item), method: :patch %>
  <% elsif  item.active == false %>
  <%= button_to "Enable Item", merchant_item_path(item), method: :patch %>
  <% end %>
</div>
<% end %>
