
<div class="item-stats">
  <li>Most popular items</li>
  <% @top_five.each do |item| %>
  <p><%= item.name %>, bought <%= item.quantity_bought %> times</p>
  <% end %>
  <li>Least popular items</li>
  <% @bottom_five.each do |item| %>
  <p><%= item.name %>, bought <%= item.quantity_bought %> times</p>
  <% end %>
</div>


<% @items.each do |item| %>
  <div id="item-<%=item.id%>">
    <%= link_to item.name, item_path(item) %>
    <a href="<%=item_path(item)%>">
      <img src="<%= item.image %>"/>
    </a>
    <p><%= item.user.name%></p>
    <p>In Stock: <%=item.inventory %></p>
    <p>Price: <%=item.price.to_f%></p>
  </div>
<% end %>
