<div>
  <%= link_to "Add Item to Cart" %>
</div>



<div>
  <p><img src="<%= @item.image %>"></p>
  <p><%= @item.name %></p>
  <p><%= @item.price %></p>
  <p><%= @item.description %></p>
  <p><%= @item.user.name %></p>
  <p><%= @item.inventory %></p>
  <p>Average Fulfilled Time: <%= @item.avg_fulfill_time %> hours</p>
</div>
