<div>
  <%= current_user.name%>
  <%= current_user.email%>
  <%= current_user.address%>
  <%= current_user.city%>
  <%= current_user.state%>
  <%= current_user.zip%>
</div>
<div id="order-info">
  <%current_user.pending_orders.each do |order| %>
    <div>
    <%=link_to "Order# #{order.id}"%>
    <p>Date Ordered: <%= order.created_at.strftime("%B %d, %Y")%></p>
    <p>Quantity: <%= order.item_quantity%></p>
    <p>Grand Total: <%= number_to_currency(order.items_total_value.to_f)%>
      <div>
  <%end%>

</div>
